{deps, [
    {eto_common, ".*", {git, "git@git.corp.smarkets.com:smarkets/eto_common.git", {tag, "v0.3.1"}}},
    {smk_api_common, ".*", {git, "git@git.corp.smarkets.com:smarkets/smk_api_common.git", {tag, "v0.7.7"}}},
    {jsx, ".*", {git, "git@git.corp.smarkets.com:smarkets/jsx.git", {branch, "master"}}},
    {erlydtl, ".*", {git, "git@git.corp.smarkets.com:smarkets/erlydtl.git", {branch, "master"}}}
  ]}.
