{deps, [
    {eto_common, ".*", {git, "git://git.corp.smarkets.com/eto_common.git", {tag, "v0.2.1"}}},
    {smk_api_common, ".*", {git, "git://git.corp.smarkets.com/smk_api_common.git", {tag, "v0.4.0"}}},
    {jsx, ".*", {git, "git://git.corp.smarkets.com/jsx.git", {branch, "master"}}},
    {erlydtl, ".*", {git, "git://git.corp.smarkets.com/erlydtl.git", {branch, "master"}}}
  ]}.
