{deps, [
    {eto_common, ".*", {git, "git://github.com/smarkets/eto_common.git", {tag, "v0.2.1"}}},
    {smk_api_common, ".*", {git, "git://github.com/smarkets/smk_api_common.git", {tag, "v0.4.0"}}},
    {jsx, ".*", {git, "https://github.com/talentdeficit/jsx", {branch, "master"}}},
    {erlydtl, ".*", {git, "https://github.com/evanmiller/erlydtl.git", {branch, "master"}}}
  ]}.
