<html lang="en">
  <head>
    <title>Documentation - Smarkets Streaming API</title>
    <meta charset="utf-8" />
    <link rel="shortcut icon" type="image/ico" href="https://d2ddi39c2rqcmy.cloudfront.net/img/favicon.602c606e.ico" /> 
    <link rel="apple-touch-icon" type="image/png" href="https://diy1dqjwmz5rw.cloudfront.net/img/apple-touch-icon.b3237f5b.png" />
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>

    <div id="toc">
      <h1><a href="http://smarkets.github.com/"><img src="logo.gif" class="logo" /></a>
          <a href=""><span>Streaming API Documentation</span></a></h1>
      <ul>
        <li><strong>({{ version }})</strong></li>
        <li><a href="">Introduction</a></li>
        <li><a href="#encode">Encoding Payloads</a></li>
        <li><a href="#framing">Framing</a></li>
        <li>
          <div style="margin-bottom:0.5em;"><a href="#defs">Type Definitions</a></div>
          <a href="#seto">seto</a> {% if seto_vsn %}({{ seto_vsn }}){% endif %}
          <ul>
            {% for name in seto_order %}
            <li><a href="#seto/{{ name }}">{{ name }}</a></li>
            {% endfor %}
          </ul>
          <a href="#eto">eto</a> {% if eto_vsn %}({{ eto_vsn }}){% endif %}
          <ul>
            {% for name in eto_order %}
            <li><a href="#eto/{{ name }}">{{ name }}</a></li>
            {% endfor %}
          </ul>
        </li>
      </ul>
    </div>

    <div id="content">
      <h2 class="first">Introduction</h2>
      <!--p>
      </p-->
      <p>
      To work with the Smarkets Streaming API you will need to:
      <ol class="steps">
        <li>
        Create a persistent TCP connection to <code>api-sandbox.smarkets.com:3701</code>
        </li>
        <li>
        <a href="#encode">Encode</a>, <a href="#framing">Frame</a>, and send a <a href="#seto/payload" class="type">seto/payload</a> with type <a href="#seto/login" class="type">login</a> and its <a href="#eto/payload" class="type">eto/payload</a> with <a href="#eto/seq">seq</a> <span class="seq">1</span>
<code class="block"><pre>seto/payload{
  type = login,
  login = seto/login{
    username = "..@...",
    password = "*********"
  }
  eto-payload = eto/payload{
    seq = 1,
    type = login
  }
}</pre></code>
        </li>
        <li>
        Receive a <a href="#seto/payload" class="type">seto/payload</a> back from Smarkets with an <a href="#eto/payload" class="type">eto/payload</a> with type <a href="#eto/login-response" class="type">login-response</a> and incoming <a href="#eto/seq" class="type">seq</a> <span class="seq">1</span>. You have now been allocated a unique <a href="#eto/session" class="type">session</a> that can be <a href="#eto/login" class="type">resumed</a> if you are ever disconnected.
<code class="block"><pre>seto/payload{
  type = eto,
  eto-payload = eto/payload{
    seq = 1,
    type = login-response,
    login-response = eto/login-response{
      session = "......"
    }
  }
}</pre></code>
        </li>
        <li>
        Send more <a href="#seto/payload" class="type">seto/payloads</a> with an incrementing <em>outgoing</em> <a href="#eto/seq">seq</a> in their <a href="#eto/payload" class="type">eto/payload</a> (<a href="#eto/seq">more about sequences</a>).
        </li>
        <li>
        Receive more <a href="#seto/payload" class="type">seto/payloads</a> with an incrementing <em>incoming</em> <a href="#eto/seq">seq</a> in their <a href="#eto/payload" class="type">eto/payload</a> (<a href="#eto/seq">more about sequences</a>).
        </li>
      </ol>
      </p>
      <h3>seto vs. eto</h3>
      <p>
      eto/* definitions are related to the transport layer to the Smarkets API. This provides a <a href="#eto/seq" class="type">sequenced</a> based messaging protocol similar to that of the <a href="http://www.fixprotocol.org/">Financial Information eXchange (FIX) Transport Protocol</a>.
      </p>
      <p>
      seto/* refers to Smarkets application specific definitions that wrap <a href="#eto/payload" class="type">eto/payloads</a>. If a <a href="#seto/payload" class="type">seto/payload</a> is sent which <a href="#seto/payload-type" class="type">payload-type</a> <code>eto</code> then there is no Smarkets API extension to eto in the given payload and only the wrapped <a href="#eto/payload" class="type">eto/payloads</a> is processed.
      </p>

      <h2 id="encode">Encoding Payloads</h2>
      <p>
      All <a href="#seto/payload">seto/payloads</a> are encoded into bytes compatible with <a href="http://code.google.com/p/protobuf/">Protocol Buffers</a> before being <a href="#framing">framed</a> and sent. How you do this will depend on the language you're using to communicate with Smarkets' servers. Go to the <a href="http://smarkets.github.com/">smarkets.github.com</a> downloads section to find the .proto or .piqi files, or use one of the available SDKs that will automatically do this for you.
      </p>
      
      <h2 id="framing">Framing</h2>
      <p>
      Each payload is prefixed with a ULEB128 (unsigned little-endian
      base 128) length header. Each byte has continuation bit (marked
      in red below) which is the most significant bit. Every byte
      except the final, most significant byte has the continuation bit
      set. The Python and Erlang SDKs do this for you. Here's an example
      for reference purposes where the 28-bit integer 268435202 is represented 
      by 32 bits like so:
      </p>

      <table class="length-header">
        <caption>ULEB128 length header</caption>
        <tbody>
          <tr>
            <th class="bit"><tt>0</tt></th>
            <th class="bit"><tt>1</tt></th>
            <th class="bit"><tt>2</tt></th>
            <th class="bit"><tt>3</tt></th>
            <th class="bit"><tt>4</tt></th>
            <th class="bit"><tt>5</tt></th>
            <th class="bit"><tt>6</tt></th>
            <th class="bit byte"><tt>7</tt></th>
            <th class="bit"><tt>8</tt></th>
            <th class="bit"><tt>9</tt></th>
            <th class="bit"><tt>10</tt></th>
            <th class="bit"><tt>11</tt></th>
            <th class="bit"><tt>12</tt></th>
            <th class="bit"><tt>13</tt></th>
            <th class="bit"><tt>14</tt></th>
            <th class="bit byte"><tt>15</tt></th>
            <th class="bit"><tt>16</tt></th>
            <th class="bit"><tt>17</tt></th>
            <th class="bit"><tt>18</tt></th>
            <th class="bit"><tt>19</tt></th>
            <th class="bit"><tt>20</tt></th>
            <th class="bit"><tt>21</tt></th>
            <th class="bit"><tt>22</tt></th>
            <th class="bit byte"><tt>23</tt></th>
            <th class="bit"><tt>24</tt></th>
            <th class="bit"><tt>25</tt></th>
            <th class="bit"><tt>26</tt></th>
            <th class="bit"><tt>27</tt></th>
            <th class="bit"><tt>28</tt></th>
            <th class="bit"><tt>29</tt></th>
            <th class="bit"><tt>30</tt></th>
            <th class="bit"><tt>31</tt></th>
          </tr>
          <tr>
            <td class="continuation bit">1</td>
            <td class="bit">0</td>
            <td class="bit">0</td>
            <td class="bit">0</td>
            <td class="bit">0</td>
            <td class="bit">0</td>
            <td class="bit">1</td>
            <td class="bit byte">0</td>
            <td class="continuation bit">1</td>
            <td class="bit">1</td>
            <td class="bit">1</td>
            <td class="bit">1</td>
            <td class="bit">1</td>
            <td class="bit">1</td>
            <td class="bit">1</td>
            <td class="bit byte">0</td>
            <td class="continuation bit">1</td>
            <td class="bit">1</td>
            <td class="bit">1</td>
            <td class="bit">1</td>
            <td class="bit">1</td>
            <td class="bit">1</td>
            <td class="bit">1</td>
            <td class="bit byte">1</td>
            <td class="continuation bit">0</td>
            <td class="bit">1</td>
            <td class="bit">1</td>
            <td class="bit">1</td>
            <td class="bit">1</td>
            <td class="bit">1</td>
            <td class="bit">1</td>
            <td class="bit">1</td>
          </tr>
        </tbody>
      </table>

      <p>
      Frames (including length header and message bytes) must be a
      minimum of 4 bytes in length. This only affects messages which
      are themselves 1 or 2 bytes in length. In those cases, 0 padding
      should be added until the total frame length is 4
      bytes. Otherwise, no padding should be added.
      </p>

      <table class="frame">
        <tbody>
          <tr><td class="title" colspan="5"><i>increasing sequence numbers</i>  →</td></tr>
          <tr>
            <td class="first"><tt>...</tt></td>
            <td><tt>Length (uleb128)</tt></td>
            <td><tt>Message (<i>length</i> bytes)</tt></td>
            <td><tt><i>Padding (optional)</i></tt></td>
            <td class="last"><tt>...</tt></td>
          </tr>
        </tbody>
      </table>

      <h2 id="defs">Type Definitions</h2>
      {% for module in modules %}
      <div id="{{ module.name }}">
      {% for pdef in module.def %}
      {% with def=pdef.def %}
      {% if not def.name %}
      {% comment %}
      <div><strong>Error:</strong> {{ pdef }}</div>
      {% endcomment %}

      {% else %}
      <div class="def">
        <h3 id="{{ module.name }}/{{ def.name }}">
          <span class="name">{{ module.name }}/{{ def.name }}</span>
          <span class="piqi_type">{{ pdef.piqi_type }}</span>
          {% if pdef.piqi_type=="list" or pdef.piqi_type=="alias" %}
          {% type name=def.type.name module=def.type.module %}
          {% endif %}
        </h4>

        {% ifequal pdef.piqi_type "record" %}
        <ul>
          {% for field in def.field %}
          <li>
          <span class="name">{% firstof field.name field.type.name %}</span>
          {% type name=field.type.name module=field.type.module %}
          {% if field.default %}
          <span class="default">Default: {{ field.default.value }}</span>
          {% endif %}
          {% if field.mode and field.mode.optional %}
          <span class="optional">[optional]</span>
          {% endif %}
          </li>
          {% endfor %}
        </ul>
        {% endifequal %}

        {% if pdef.piqi_type == "variant" or pdef.piqi_type == "enum"  %}
        <ul>
          {% for option in def.option %}
          <li>
          <span class="name">{% firstof option.name option.type.name %}</span>
          {% if option.type %}
          {% type name=option.type.name module=option.type.module %}
          {% endif %}
          </li>
          {% endfor %}
        </ul>
        {% endif%}

        {% if pdef.description %}
        <div class="description">{{ pdef.description }}</div>
        {% endif %}

      </div>
      {% endif %}
      {% endwith %}
      {% endfor %}
      </div>
      {% endfor %}
    </div>

    </body>
  </html>
