<html lang="en">
  <head>
    <title>Documentation - Smarkets Streaming API</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <h1><a href="#top">Smarkets Streaming API Documentation</a></h1>

    <div id="toc">
      <ul>
      {% for name in order %}
      <li><a href="#{{ name }}" class="type">{{ name }}</a></li>
      {% endfor %}
      </ul>
    </div>

    <div id="content">
      <p id="top">
      Welcome!
      </p>

      {% for pdef in piqdef %}
      {% with def=pdef.def %}
      {% if not def.name %}
      {% comment %}
      <div><strong>Error:</strong> {{ pdef }}</div>
      {% endcomment %}

      {% else %}
      <div class="def">
        <h3 id="{{ def.name }}">
          <span class="name">{{ def.name }}</span>
          <span class="piqi_type">{{ pdef.piqi_type }}</span>
          {% if pdef.piqi_type=="list" or pdef.piqi_type=="alias" %}
          {% type name=def.type.name %}
          {% endif %}
        </h4>

        {% ifequal pdef.piqi_type "record" %}
        <ul>
          {% for field in def.field %}
          <li>
          <span class="name">{% firstof field.name field.type.name %}</span>
          {% type name=field.type.name %}
          {% if field.default %}
          <span class="default">Default: {{ field.default.value }}</span>
          {% endif %}
          </li>
          {% endfor %}
        </ul>
        {% endifequal %}

        {% if pdef.piqi_type == "variant" or pdef.piqi_type == "enum"  %}
        <ul>
          {% for option in def.option %}
          <li>
          <span class="name">{% firstof option.name option.type.name %}</span>
          {% if option.type %}
          {% type name=option.type.name %}
          {% endif %}
          </li>
          {% endfor %}
        </ul>
        {% endif%}

        {% if pdef.description %}
        <div class="description">{{ pdef.description }}</div>
        {% endif %}

      </div>
      {% endif %}
      {% endwith %}
      {% endfor %}
    </div>

    </body>
  </html>
