body, td, a[rel="bookmark"] {
  font-family: Arial;
  font-weight: normal;
  font-size: 14px;
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
h1 {
  font-size: 2em;
  margin: 0;
  padding: 0.5em 0.5em;
  background: #eee;
  border-bottom: 1px solid #ccc;
}
h1 a {
  color: black;
  text-decoration: none;
}
h2 {
  border-top: 1px solid #ccc;
  margin: 0 0 1em 0;
  padding: 1em 0 0 0;
}

ol.steps li {
  margin-bottom: 0.5em;
}
#toc {
}
#toc ul {
  padding: 0 0 0 2em;
  margin: 1em 0 0 0;
}
#toc ul li {
  padding: 0;
  margin: 0.3em 0 0.3em 0;
}
#toc ul ul {
  padding: 0.2em 0 0 1em;
  margin: 0;
  font-size: 0.8em;
}
#toc ul ul li {
  padding: 0;
  margin: 0;
}
#content {
  padding: 0 1em 0 0;
}
@media screen {
  body {
    margin: 4.5em 0 0 0;
  }
  body>h1 {
    position: fixed;
    top: 0;
    width: 100%;
  }
  body>div#toc {
    position: fixed;
    height: 100%;
    overflow: auto;
    margin-bottom: 4.5em;
  }
  body>div#content {
    margin: 0 0 0 16em;
    height: 100%;
    overflow: auto;
  }
}
p {
  line-height: 1.3em;
}
.def {
  border-top: 1px solid #ccc;
}
h3 {
  font-size: 1.25em;
  margin: 0.5em 0 0.5em 0;
  padding: 0 0 0 0;
}
h3 .name {
  font-weight: bold;
  font-family: Consolas, "Droid Sans Mono", Monaco, Courier, monospace;
  font-size: 1em;
}
h3 span {
  font-size: 0.8em;
  font-weight: normal;
}
.name,
.type,
.type a,
.type span,
.seq,
.encoded,
.direction,
.field,
code,
pre {
  font-family: Consolas, "Droid Sans Mono", Monaco, Courier, monospace;
}
code.block {
  display: block;
}
.field, .type {
  background: #FDFCDC;
}
.seq {
  background: #FCF6CF;
  padding: 0 0.1em;
  margin: -1px;
  border: 1px solid #DEB887;
}
.seq:before {
  content: "#";
}

.default {
  font-style: italic;
}

table.passing {
  margin: 1em auto;
}
table.passing th.server,
table.passing th.client {
  font-weight: bold;
  background: #ddd;
}
table.passing th {
  font-weight: normal;
  background: #eee;
}
table.passing td {
  text-align: center;
}
table.passing tr {
  background: white;
}
table.passing tr.odd {
  background: #eee;
}
.seq.changed {
  background: #CAFF70;
  border: 1px solid #A2CD5A;
}
.seq.incorrect {
  background: #CD0000;
  border: 1px solid #8B0000;
  color: white;
}
.encoded,
.direction {
  font-size: 0.8em;
}
.direction {
  font-weight: bold;
  border-left: 1px;
  border-right: 1px;
  border-style: solid;
  border-color: #ccc;
}
.left {
  text-align: left !important;
}
.right {
  text-align: right !important;
}
